<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhSUQHjUBXUiP_w7P7LSD3XBG9K_rz9so</string>
	<key>GCM_SENDER_ID</key>
	<string>607359533803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laporBook</string>
	<key>PROJECT_ID</key>
	<string>todolist-e53a3</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-e53a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607359533803:ios:4422c3d3c05dddcb1ff4ae</string>
</dict>
</plist>